* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* body {
  display: flex;
} */

.pageContent {
  margin-left: 220px;
}
.header{
  display: flex;
  justify-content: space-between;
}
.calanderBtn{
  height: 25px;
  margin:20px;
}
h1 {
  padding: 20px;
  color: #435580;
}
.cardContainer {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 20px 10px 20px 35px;
}
.cardContainer div {
  width: 140px;
  height: 100px;
  border-radius: 10px;
  text-align: center;
  padding: 10px;
}

.totalStudents {
  background-color: #dfedff;
}
.totalStudents h3,
.totalStudents i {
  color: #5496f1;
  padding: 3px;
  font-weight: 200;
}
.pendingApplication {
  background-color: #fef9ca;
}
.pendingApplication h3,
.pendingApplication i {
  color: #b07f36;
  padding: 3px;
  font-weight: 200;
}
.totalTeachers {
  background-color: #e2fceb;
}
.totalTeachers h3,
.totalTeachers i {
  color: #298254;
  padding: 3px;
  font-weight: 200;
}
.rejectedApplication {
  background-color: #fee5e5;
}
.rejectedApplication h3,
.rejectedApplication i {
  color: #c45ea7;
  padding: 5px;
  font-weight: 200;
}
.freshman {
  background-color: #f6eeff;
}
.freshman h4,
.freshman i {
  color: #9b99f2;
  padding: 3px;
  font-weight: 200;
}
.departements {
  background-color: #e5ebff;
}
.departements h4,
.departements i {
  color: #8952ca;
  padding: 3px;
  font-weight: 200;
}

.graduated {
  background-color: #dbeafe;
}
.graduated h4,
.graduated i {
  color: #4256ea;
  padding: 3px;
  font-weight: 200;
}

.filter {
  display: flex;
  justify-content: center;
}
.filter label {
  font-size: 20px;
}
.filter input {
  padding: 5px;
  margin-left: 10px;
  width: 400px;
  border-radius: 3px;
  border: 1px solid orange;
  outline: none;
}
.btnTab {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 20px;
}
.btnTab button {
  padding: 5px;
}
.fristBtn{
background-color: #DFEDFF;
border: none;
color: #034ee4;
border-radius: 3px;
}
.secondBtn{background-color: #FEE5E5;
  border: none;
color: #B07F36;
border-radius: 3px;
}
