*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.pageContent {
  width: 100%;
  margin-left: 250px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-right: 40px;
}
h1 {
  padding: 20px;
  color: #435580;
}
