*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.pageContent {
  width: 100%;
  margin-left: 250px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-right: 40px;
}
h1 {
  padding: 20px;
  color: #435580;
}
.hidden{
  display: none;
}
.main-tabs button.active{
background-color: red;
}
.sub-tabs button.active{
  background-color: rgb(242, 210, 210);
}
