body {
  display: flex;
  justify-content: center;
  height: 95vh;
  align-items: center;
}

.loginForm {
  width: 200px;
  padding: 30px;
  background-color: rgb(241, 235, 235);
  border: 1px solid orange;
  border-radius: 10px;
}
input {
  width: 100%;
}
button {
  margin-left: 160px;
}
