.gradeReport {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;


}
.login-form {
  background-color: rgb(232, 229, 229);
  display:flex;
  flex-direction: column;
  gap:5px;
  width: 250px;
  padding:20px;
  border:1px solid rgb(122, 121, 121) ;
  border-radius:10px;
  box-shadow: 5px 5px rgb(171, 205, 216)

}
input {
  width: 100%;
  outline:none
}
.submit-btn{
    display:flex;
    justify-content:flex-end;
    margin-top:30px
}
.login-form input{
border:none;
padding:5px;
border-radius:2px;
}
