*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  height: 95vh;
  align-items: center;
}

.registerForm {
  width: 350px;
  border: 1px solid orange;
  padding: 30px;
  border-radius: 5px;
  background-color: #e8e5e5;
}
#fullName,
#email,
#password,
#year,
#freshman {
  width: 100%;
  outline: none;
  padding: 5px;
  height: 27px;
  border-radius: 3px;
  border: 2px solid #d1d5db;
}
.options {
  width: 250px;        /* control width */
  height: 45px;        /* control height */
  padding: 10px 12px;  /* top-bottom | left-right */
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid #ccc;
  outline: none;
  cursor: pointer;
}

#fullName:focus,
#email:focus,
#password:focus,
#year:focus,
#freshman:focus {
  border: 2px solid orange;
}

button {
  margin-left: 247px;
  background-color: #FF8415;
  padding: 3px 7px;
  border: none;
  color: white;
  border-radius: 3px;
}
