*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    display: flex;
}
.pageContent{
    width: 100%;
    margin-left:250px ;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-right: 40px;
}
h1 {
  padding: 20px;
  color: #435580;
}
#teacherForm {
  margin-top: 20px;
}

.formContainer select {
  display: block;
  margin: 10px 0;
  padding: 8px;
  width: 300px;
}

