<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="side-bar">
      <a href="dashboard.html" class="sidebar-item active">Dashboard</a>
      <a href="application.html" class="sidebar-item">Applications</a>


      <a href="college.html" class="sidebar-item">College</a>

      <a href="courses.html" class="sidebar-item">Courses</a>
      <a href="teachers.html" class="sidebar-item">Teachers</a>
      <a href="students.html" class="sidebar-item">Students</a>
    </div>
    <script src="./sidebar.js"></script>
  </body>
</html>
